@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #000000;
  --bg-secondary: #141414;
  --bg-hover: #333333;
  --text-primary: #FFFFFF;
  --text-secondary: #B3B3B3;
  --accent: #E50914;
  --accent-hover: #FFFFFF;
  --gradient-hero: linear-gradient(to top, #000000, transparent);
  --foreground: #FFFFFF;
  --background: #000000;
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-border: #333333;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: Arial,
    Helvetica,
    sans-serif;
  overflow-x: hidden;

  /* Mobile App Feel */
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  /* Prevent browser pull-to-refresh on body if possible, or usually desirable for 'app' feel */
}

/* Smooth Scrolling for anchor links */
html {
  scroll-behavior: smooth;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #141414;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}